{% extends "base.html" %}

{% block content %}
    <div class="text-center mt-12">
        <h1 class="text-5xl font-bold text-red-600 mb-4">Oops! Page not found.<br> Maeby try later again.
        <br>We work in moment on the page to help you</h1>
        <img src = \media\images\gravko.jpg>
        <p class="text-lg mb-8">The page you’re looking for doesn’t exist, or maybe it has been moved.</p>
        <a href="/" class="bg-blue-600 text-white px-6 py-3 rounded hover:bg-blue-700">
            Back to Home
        </a>
    </div>
{% endblock %}